.chat{
    border-radius:5px;
  
    
    
}

.chat.chat-left .chat-message
{background:#dd6e00!important;float:left!important;color:#fff}

.chat-content{
    
    overflow-y: auto;
    background-color: #fff;
    position: fixed;
    height: 60vh;
    bottom: 88px;
    width: 100vh;
    padding-bottom: 130px!important;
    padding-top: 80px!important;

   

    
}

.chat-top{
   
    
   z-index: 9;
    /* bottom: 60vh; */
    width: 100vh;
    background-color: #f1f1f1;
    
}
.card{
    max-width: 100vh;
    position: fixed;
}
.chat .chat-message
{
    text-align:left!important;
    float:right!important;
    margin:.2rem 0 1.8rem .2rem!important;
    color:#525361;
    background-color:#fafbfb!important;
    box-shadow:0 2px 6px rgba(0,0,0,.3)!important;
    padding:.75rem 1rem!important;
   
    position:relative!important;
    /* max-width:calc(100% - 5rem)!important; */
    clear:both!important;
    word-break:break-word!important;
    border-radius:.267rem!important
}
.chat-footer{
    position: fixed;
    bottom: 15px;
    width: 100vh;
    padding: 15px;
    background-color: #fff9f3;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;

}


/*===============================================================*/
/*Scroll bar*/

::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
   background-color: #dd6e00;
    border-radius:7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /*==================================end scroll bar styles==============================*/